.footer-1st{
    display: flex;
    justify-content: space-between;
}
.btn-div{
    gap: 20px;
    display: flex;
}
.btn-1{
    border: none;
    background-color: #94D82D;
    border-radius: 40px;
    padding: 13px 40px;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.btn-2{
    border-radius: 40px;
    padding: 13px 40px;
    border: none;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 40px;
    background-color: white;
        font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fs{
    font-family: sans-serif;
}
.flex{
    display: flex;
}
.pd{
    text-align: center;
    align-items: center;
}
.last-div-pd{
    display: flex;
    
}
.windows{
    align-items: center;
}
.b{
    border: 1.5px solid rgb(68, 68, 68);
    border-radius: 30px;
    padding: 0px 10px;
}
